@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(45, 16, 0);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(45, 16, 0);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(45, 16, 0);
    --primary: rgb(31, 42, 61);
    --primary-foreground: rgb(239, 244, 255);
    --secondary: rgb(242, 246, 249);
    --secondary-foreground: rgb(31, 42, 61);
    --muted: rgb(242, 246, 249);
    --muted-foreground: rgb(132, 139, 153);
    --accent: rgb(242, 246, 249);
    --accent-foreground: rgb(31, 42, 61);
    --destructive: rgb(255, 71, 71);
    --destructive-foreground: rgb(239, 244, 255);
    --border: rgb(226, 232, 241);
    --input: rgb(226, 232, 241);
    --ring: rgb(45, 16, 0);
    --chart-1: rgb(255, 121, 79);
    --chart-2: rgb(79, 190, 149);
    --chart-3: rgb(64, 109, 146);
    --chart-4: rgb(203, 255, 132);
    --chart-5: rgb(236, 255, 129);
    --radius: 0.5rem;
  }
  .dark {
    --background: rgb(45, 16, 0);
    --foreground: rgb(239, 244, 255);
    --card: rgb(45, 16, 0);
    --card-foreground: rgb(239, 244, 255);
    --popover: rgb(45, 16, 0);
    --popover-foreground: rgb(239, 244, 255);
    --primary: rgb(239, 244, 255);
    --primary-foreground: rgb(31, 42, 61);
    --secondary: rgb(35, 41, 54);
    --secondary-foreground: rgb(239, 244, 255);
    --muted: rgb(35, 41, 54);
    --muted-foreground: rgb(159, 162, 179);
    --accent: rgb(35, 41, 54);
    --accent-foreground: rgb(239, 244, 255);
    --destructive: rgb(110, 31, 31);
    --destructive-foreground: rgb(239, 244, 255);
    --border: rgb(35, 41, 54);
    --input: rgb(35, 41, 54);
    --ring: rgb(199, 204, 224);
    --chart-1: rgb(82, 127, 255);
    --chart-2: rgb(56, 179, 146);
    --chart-3: rgb(204, 141, 77);
    --chart-4: rgb(204, 102, 255);
    --chart-5: rgb(255, 77, 141);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
